.titlebar{
background-image:url("title.jpg");
width:100%;
height:auto;
position:absolute;
background-repeat:no-repeat;
top:0px;
left:0px;
}
.lapimg{
background-image:url("laptop2.png");
width:1000px;
height:600px;
margin-top:80px;
margin-bottom:500px;
margin-left:200px;
margin-right:0px;
position:absolute;
background-repeat:no-repeat;
  
}
.logo{
width:810px; 
height:430px;
margin-top:30px;
margin-bottom:500px;
margin-left:65px;

}


